@import "base";
body{
  background: #F2F2F2;
}
.changlian{
  position: fixed;
  top:0;left: 0;right: 0;bottom: 0;
  margin: auto;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 343243243;
  //opacity: 0;
  display: none;
}
.show{
  opacity: 1;
  display: block;
}
@media screen and (max-width:690px ){
  .show{
    display: none;
    opacity: 0;
  }
}
.zuo-you{//**************************************
  width: 15px;
  height: 20px;
  //display: none;
  opacity: 0;
  transition: opacity .8s ease;
  z-index: 111;
  position: absolute;
  top: 10px;
  right: 13px;
  .zuo{
    width: 1px;
    height: 18px;
    background: #ffffff;
    display: inline-block;
    transition: transform .8s ease;
    transform-origin:bottom;
  }
  .zuo1{
    //@include zhong;
    transform: rotate3d(0,0,1,45deg);
  }
  .you{
    width: 1px;
    height: 18px;
    background: #ffffff;
    display: inline-block;
    margin-left: 8px;
    transition: transform .8s ease;
    transform-origin: bottom;
  }
  .yuo1 {
    //@include zhong;
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.quxiao{
  opacity: 1;
}
.header{
  background: #000;
  height: 44px;
  width: 100%;
  z-index: 12312123424;
  position: relative;
  .header-inner{
    max-width:1024px;
    height: 44px;
    margin:0  auto;
    box-sizing: border-box;
    z-index: 324234233;
    .nav{
      text-align: justify;
      height: 44px;

      .logo{
        background: url(../img/logo.svg)no-repeat center center;
        width: 22px;
      }
      .mac{
        background: url(../img/mac.svg)no-repeat center center;
        width: 31px;
      }
      .ipad{
        background: url(../img/ipad.svg)no-repeat center center;
        width: 30px;
      }
      .iphone{
        background: url(../img/iphone.svg)no-repeat center center;
        width: 48px;
      }
      .watch{
        background: url(../img/watch.svg)no-repeat center center;
        width: 48px;
      }
      .tv{
        background: url(../img/tv.svg)no-repeat center center;
        width:20px;
      }
      .music{
        background: url(../img/music.svg)no-repeat center center;
        width:20px;
      }
      .support{
        background: url(../img/support.svg)no-repeat center center;
        width:57px;
      }
      .shousuo{
        background: url(../img/shousuo.svg)no-repeat center center;
        width:20px;
      }
      .shu{
        background: url(../img/shu.svg)no-repeat center center;
        width: 18px;
      }


      &::after{
        content: "";
        width: 100%;
        height:0;
        line-height: 0;
        display: inline-block;
        overflow: hidden;
      }
     li{
       padding: 0 10px;
       height: 44px;
       display: inline-block;
       line-height: 44px;
       transition: all .6s  ease;
       z-index: 13223213;
       &:hover{
         opacity: 0.6;
       }
      span{
         font-size: 0;
         height: 0;
         line-height: 0;
       }
       a{
         display: block;
         line-height: 44px;
         height: 44px;

       }
     }

    }

    .nav-xiao{
      display: none;
      width: 100%;
      height: 48px;
      overflow: hidden;
      a{
        display: block;
        height: 48px;
        line-height: 48px;
      }
      .xian{
        position: absolute;
        top: 0;left: 0;bottom: 0;
        margin: auto;
        width: 48px;
        height: 48px;
        transition: all .6s ease;
        z-index: 432434453453453;
        &:hover{
          opacity: 0.6;
        }
        .shang{
          position: absolute;
          top:10px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 17px;
          height: 1px;
          background:#fff;
          transition: all .5s ease;    //==============================================
         transition-origin:center center ;
          z-index: 42342334234242;
        }
        .xiang{
          @include zhong;
          transform: rotateZ(-45deg);
        }
        .xia{
          position: absolute;
          top:0;left: 0;right: 0;
          bottom:10px;
          margin: auto;
          width: 17px;
          height: 1px;
          background:#fff;
          transition: all .5s ease;
          transition-origin:center center ;
        }
        .jiao{
          @include zhong;
          transform: rotateZ(45deg);
        }

      }
      .logo{
          position: absolute;
          top: 0;left: 0;
          right: 0;bottom: 0;
          margin: auto;
          background: url(../img/logo.svg)no-repeat center center;
          width: 22px;
          transition: all .6s ease;
          z-index: 43242342342423;
          &:hover{
            opacity: 0.6;
          }
        }
      .shu{
        position: absolute;
        top: 0;bottom: 0;
        right: 20px;
        margin: auto;
        background: url(../img/shu.svg)no-repeat center center;
        width: 18px;
        transition: all .6s ease;
        z-index: 32342323234232;
        &:hover{
          opacity: 0.6;
        }
      }
      .gong{
        transform: translateX(300px);
        z-index: 32423424242332;
      }


    }

    .ssk{
      width:682px;
      height: 44px;
      position: absolute;
      top:0;left: 0;
      right: 0;bottom: 0;
      margin: auto;
      transition: all 1s ease;
      transform: translateX(80px);
      transition-delay:.3s;
      opacity: 0;
      @media screen and (max-width: 768px ){
        display: none;
      }
      .soushu{
        width: 44px;
        height: 44px;
        background: url(../img/shousuo.svg)no-repeat center center;
        float: left;
        transition: all .6s ease;
        &:hover{
          opacity: 0.6;
        }
       }
      input{
        width: 620px;
        height: 22px;
        margin-top:10px;
        list-style: none;
        background: none;
        border: none;
        font-size: 15px;
        outline: medium;
        color: #fff;
      }
    }
    .huilai{
      transform: translateX(0);
      opacity: 1;
    }

  }
}
//.beijing{
//  background: #292929;
//}
@media screen and (max-width: 768px ){
  .header{
    height: 48px;
    .header-inner{
      height: 48px;
      .nav{
        display: none;
      }
      .nav-xiao{
        display: block;
      }
    }

  }


}
.xiaoshi{
  transform: scale(0);
}

.text{
  width: 682px;
  height: 230px;
  @include zhong;
  margin-top: 44px;
  padding:24px 40px;
  box-sizing: border-box;
  transition: all 1s ease;
  transition-delay:.3s;
  transform: translateX(80px);
  background: #fff;
  z-index: 2324343453;
  opacity: 0;
  @media screen and (max-width: 768px ){
    display: none;
  }
  h3{
    display: block;
    font-size: 12px;
    color: #999;
    padding: 2px 0;
    opacity:0;
    animation: pao .8s ease forwards .8s;

  }
  p{
    display: block;
    padding:8px 15px;
    a{
      display: block;
      color: #999;
      &:hover{
        color: #0188CC;
      }
    }
    &:hover{
      background: #F2F2F2;
    }
  }
    p:nth-child(1){
      opacity: 0;
      animation: pao .8s ease forwards 1s;
    }
    p:nth-child(2){
      opacity: 0;
      animation: pao .8s ease forwards 1.2s;
    }
    p:nth-child(3){
      opacity: 0;
      animation: pao .8s ease forwards 1.4s;
    }
    p:nth-child(4){
      opacity: 0;
      animation: pao .8s ease forwards 1.6s;
    }
    p:nth-child(5){
     opacity: 0;
     animation: pao .8s ease forwards 1.8s;
    }
    p:nth-child(6){
    opacity: 0;
    animation: pao .8s ease forwards 2s;
    }


}
.hui{
  transform: translateX(0);
  opacity: 1;
}

@keyframes pao {
  0%{
    transform: translateX(80px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.chedao{
  width:100%;
  background: #000000;
  overflow: hidden;
  padding:0 48px;
  box-sizing: border-box;
  transition: all 2s ease;
  transform: translateY(-1300px);
  display: none;
  height: 0;
  opacity: 0;
  @media screen and (max-width: 768px ){
    display: block;
    height:0;
    opacity: 1;
  }
  .chedao-nav{
    margin-top:10px;
    li{
      display: block;
      width: 100%;
      height: 48px;
      border-bottom:1px solid #333;
      line-height: 48px;
      font-size: 18px;
      a{
        display: block;
        color: #fff;
        padding: 0;
        transition: all .6s ease;
        font-family: "cedaoziti";
        font-size: 20px;
        font-weight: normal;
        &:hover{
          opacity: 0.6;
        }


      }
      .zuihou{
        border-bottom:2px solid #C0C0C0;
        background: url(../img/shousuo.svg)no-repeat;
        padding-left: 30px;
        color: #ffffff;
      }

    }
    li:nth-child(1){
      opacity: 0;
      animation: diao .8s ease forwards 1s;
    }
    li:nth-child(2){
      opacity: 0;
      animation: diao .8s ease forwards 1.2s;
    }
    li:nth-child(3){
      opacity: 0;
      animation: diao .8s ease forwards 1.4s;
    }
    li:nth-child(4){
      opacity: 0;
      animation: diao .8s ease forwards 1.6s;
    }
    li:nth-child(5){
      opacity: 0;
      animation: diao .8s ease forwards 1.8s;
    }
    li:nth-child(6){
      opacity: 0;
      animation: diao .8s ease forwards 2s;
    }
    li:nth-child(7){
      opacity: 0;
      animation: diao .8s ease forwards 2.2s;
    }
    li:nth-child(8){
      opacity: 0;
      animation: diao .8s ease forwards 2.4s;
    }
    @keyframes diao {
       0%{
         transform: translate(-300px -2000px);
       }
      100%{
        opacity: 1;
        transform: translateY(0);
      }

    }
  }
}

.diaoxia{
  width: 100%;
  height: 1000px;
  transform: translateY(0);
}
.hei{
  background: #000;
}
.dady{
  overflow: hidden;

}


//======================================banner


.banner-box{
  min-height: 400px;
  height:calc(100vh - 130px);
  position: relative;
  //max-height: 700px;
  overflow: hidden;
  @include ons{
    max-height: 600px;
  }
  .banner-img{
    width: 100%;
    height: 100%;
    position: relative;
    .tu{
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      top:0;
      left: 0;

      background-repeat: no-repeat;
      transition: transform .8s ease;



      //===========banner上面的字
      .banner-iphone{
        width: 95px;
        height: 24px;
        @include zuoyou;
        top: 50px;
        background: url("../img/logo_iphone_large.png") no-repeat;
        @include ons{
          width: 72px;
          height: 18px;
          background: url("../img/logo_iphone_small.png") no-repeat;
        }
      }
      .banner-biaoti{
        height: 42px;
        width: 100%;
        color: #ffffff;
        line-height: 1;
        font-size: 42px;
        font-family: "cedaoziti";
        text-align: center;
        @include zuoyou;
        top: 90px;
        @include ons{
          font-size: 32px;
          height: 32px;
        }
      }

      .banner-watch{
        width: 148px;
        height: 56px;
        @include zuoyou;
        top: 50px;
        background: url("../img/logo_watch_large.png") no-repeat;
        @include ons{
          width: 111px;
          height: 43px;
          background: url("../img/logo_watch_small.png") no-repeat;
        }
      }
      .banner-biaoti2{
        height: 42px;
        width: 100%;
        color: #333;
        line-height: 1;
        font-size: 42px;
        font-family: "cedaoziti";
        text-align: center;
        @include zuoyou;
        bottom: 80px;
        @include ons{
          font-size: 32px;
          height: 32px;
        }
      }

      .banner-airpod{
        width: 108px;
        height: 24px;
        @include zuoyou;
        top: 50px;
        background: url("../img/logo_airpods_large.png") no-repeat;
        @include ons{
          width: 85px;
          height: 18px;
          background: url("../img/logo_airpods_small.png") no-repeat;
        }
      }
      .banner-biaoti3{
        height: 42px;
        width: 100%;
        color: #333;
        line-height: 1;
        font-size: 42px;
        font-family: "dibuziti";
        text-align: center;
        @include zuoyou;
        top: 90px;
        @include ons{
          font-size: 32px;
          height: 32px;
        }
      }

      .banner-event{
        width: 283px;
        height: 30px;
        @include zuoyou;
        top: 50px;
        background: url("../img/logo_event_large.png") no-repeat;
        @include ons{
          width: 216px;
          height: 23px;
          background: url("../img/logo_event_small.png") no-repeat;
        }
      }
      .banner-biaoti4{
        height: 42px;
        width: 100%;
        color: #fff;
        line-height: 1;
        font-size: 42px;
        font-family: "cedaoziti";
        text-align: center;
        @include zuoyou;
        top: 90px;
        @include ons{
          font-size: 32px;
          height: 32px;
        }
      }

    .bofang{
    @include zhong;
      width: 90px;
      height: 90px;
      top: 100px;
      border-radius: 50%;
      background: rgba(0,0,0,0.4);
      background-image: url("../img/play_button_large.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: background .5s ease;
      &:hover{
        background: rgba(29,29,29,0.8);
        background-image: url("../img/play_button_large.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }






    }
    .active{
      display: block;
      transform: translate3d(0,0,0);
    }
    .right{
      display: block;
      z-index:2;
      transform: translate3d(100%,0,0);
    }
    .leave{
      display: block;
      transform: translate3d(-300px,0,0);
      z-index: -1;
    }
    .enter{
      display: block;
      transform: translate3d(-300px,0,0);
      z-index: 1;
    }
  }
  .iphone{

      background: url("../img/iphone_xlarge.jpg") #000;
    background-position: bottom;
    background-size: contain;
    @include onm{
      background: url("../img/iphone_square_large.jpg") #000000;
      background-position: bottom center;
      background-size: contain;
    }
    @include ons{
      background: url("../img/iphone_portrait_small.jpg") #000000 ;
      background-position: bottom right;
      //background-position: 50%;
      background-size: cover;
    }
  }
  .watch{

      background: url("../img/watch_large.jpg") #f2f2f2;
      background-position: center;
      background-size: contain;
    @include onm{
      background: url("../img/watch_medium.jpg") #f2f2f2;
      background-position: center;
      background-size: contain;
    }
    @include ons{
      background: url("../img/watch_portrait_small.jpg") #f2f2f2;
      background-position: center;
      background-size: contain;
    }
  }
  .airpod{
      background: url("../img/airpods_large.jpg") #fff;
      background-position: bottom;
      background-size: cover;
    @include onm{
      background: url("../img/airpods_large.jpg") #fff;
      background-position: bottom;
      background-size: cover;
    }
    @include ons{
      background: url("../img/airpods_portrait_small.jpg") #fff;
      background-position: center;
      background-size: contain;
    }
  }
  .event{
      background: url("../img/event_medium.jpg") #000;
    background-position: bottom;
    background-size: contain;
    @include onm{
      background: url("../img/event_portrait_small.jpg") #000;
      background-position: bottom;
      background-size: contain;
    }
    @include ons{
      background: url("../img/event_portrait_small.jpg") #000;
      background-position: bottom;
      background-size: contain;
    }
  }
  .btn{
    position: absolute;
    width: 100%;
    z-index:100;
    height: 50px;
    top:0;
    bottom:0;
    margin:auto;
    text-align: center;
    .left-btn{
      width:50px;
      height:50px;
      border-radius: 50%;
      background: #000;
      font-size: 40px;
      color:#fff;
      float: left;
      z-index:200;
      line-height: 50px;
    }
    .right-btn{
      width:50px;
      height:50px;
      border-radius: 50%;
      background: #000;
      font-size: 40px;
      color:#fff;
      float: right;
      z-index:200;
      line-height: 50px;
    }
  }
  .banner-dot {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 20px;
    bottom: 30px;
    text-align: center;
  }
  .banner-dot-inner{
    width: 400px;
    @include center;
    &::after {
      content: "";
      height: 0;
      clear: both;
    }
    .dot{
      background: #DCDCDC;
      padding: 2px 10px;
      width: 70px;
      height:2px;
      background-clip: content-box;
      float: left;
      margin:0 auto;
      z-index: 200;
      &.active{
        background: #808080;
        background-clip: content-box;
      }
    }
  }

}



//=====================================--底部
.row{
  width: 100%;
  height: 200px;
  @media screen and (max-width:960px){
    height:400px;
 }
  @media screen and (max-width:650px){
      height:800px;
  }
 .col{
    height: 200px;
    border:1px solid #fff;
    box-sizing: border-box;
   a{
     position: absolute;
     top:0;left: 0;
     width:100% ;height: 100%;
     margin: auto;
   }
 }
  .col.aa{
    height: 200px;
    background: url(../img/apple_tv_medium.jpg)no-repeat center center;
  }
  .col.bb{
    height: 200px;
    background: url(../img/public_betas_medium.jpg)no-repeat center center;
  }
  .col.cc{
    height: 200px;
    background: url(../img/swift_playground_medium.jpg)no-repeat center center;
  }
  .col.dd{
    height: 200px;
    background: url(../img/bts_iphone_medium.jpg)no-repeat center center;
  }
}


.didao{
  max-width: 1024px;
  height: 296px;
  margin: 0 auto;
  .didao-inner{
    width: 100%;
    height: 100%;
    padding: 0 22px;
    padding-top: 22px ;
    box-sizing: border-box;
    .xinxi{
      width: 20%;
      height: 100%;
      float: left;
      ul{
        margin-top:10px;
        li:first-child{
          font-size: 15px;
          color: #000;
          &:hover{
            text-decoration: none;
          }
        }
        li{
          font-size: 10px;
          color: #666;
          cursor: pointer;
          height: 19px;
          line-height: 21px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

  }
}

.cedao{
  padding:0  20px;
  padding-top: 20px;
  width: 100%;
  height:auto;
  box-sizing: border-box;
  display: none;
  ul{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #E3E3E3;
    span{
      display: block;
      font-size: 15px;
      color: #333;
      line-height: 37px;
      cursor: pointer;
      position: relative;
      font-family: "dibuziti";
      font-weight: bold;
    }
    .shi{
      width: 20px;
      height: 20px;
      float: right;
      margin-top:10px;
      .heng{
        width: 8px;
        height: 1px;
        background: #333333;
        position: absolute;
        top:0;left: 0;right: 0;bottom: 0;
        margin: auto;
        transition: all .6s ease;
      }
      .shu{
        width:8px;
        height: 1px;
        background: #333333;
        position: absolute;
        top:0;left: 0;bottom: 0;right: 0;
        margin: auto;
        transform:rotateZ(90deg);
        transition: all .6s ease;
      }


    }
   .shi.cha{
      .heng{
        transform:rotateZ(-45deg);
      }
     .shu{
       transform:rotateZ(45deg);
     }
    }
    li{
      width: 100%;
      height: 37px;
      display: none;
      font-size: 12px;
      color: #666;
      line-height: 21px;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }

  }
}

@media screen and (max-width:690px){
  .didao{
    display: none;
  }
  .cedao{
    display: block;
  }
}

.bao{
  max-width: 1020px;
  height: auto;
  margin: auto;
  padding: 0 20px;
}
.banquan{
  max-width: 980px;
  margin: auto;
  p{
    display: block;
    color: #999;
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid #E3E3E3;
    a{
      color: #0070c9;
    }
  }
  .gq{
    width: 100px;
    height: 24px;
    display: none;
    cursor: pointer;
    .qii{
      width:24px;
      height: 24px;
      background: url(../img/16.png)no-repeat center center;
      float: left;
    }
  }
}


.wei{
  max-width: 980px;
  height: 50px;
  margin: auto;
  div{
    color: #999;
    font-size: 12px;
    line-height: 30px;
    padding-right:20px;
    float: left;
    a{
      margin-right: 10px;
      padding-right: 12px;
      font-size: 12px;
      line-height: 30px;
      color: #666;
      border-right: 1px solid #d6d6d6;
    }
  }
  .guoqi{
    width: 100px;
    height: 24px;
    float: right;
    cursor: pointer;
    .qi{
      width: 8px;
      height: 24px;
      background: url(../img/16.png)no-repeat center center;
    }
  }

}
@media screen and (max-width:690px){
   .guoqi{
     display: none;
   }
  .banquan{
    p{
      border-bottom: 1px solid #F2F2F2;;
    }
    .gq{
      display: block;
    }
  }

}

