@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
}

body {
  font-family: "Helvetica Neue","微软雅黑",sans-serif;
  font-size: 15px;
  font-weight: 100;
}

@font-face {
  font-family: "dibuziti";
  src: url("../fonts/myriad-set-pro_thin.woff") format("woff");
}

@font-face {
  font-family: "cedaoziti";
  src: url("../fonts/myriad-set-pro_extrathin.woff") format("woff");
}

@font-face {
  font-family: "ziti";
  src: url("../fonts/iconfont.woff") format("woff");
}

.icon {
  font-family: "ziti";
  font-style: normal;
}

.icon:hover {
  color: red;
}

.icono {
  font-family: "ziti";
  font-style: normal;
}

.icono:hover {
  color: #40ff0c;
}

@font-face {
  font-family: "wenzi";
  src: url("../fonts/myriad-set-pro_thin.woff") format("woff");
}

.iconc {
  font-family: "wenzi";
  font-style: normal;
}

@font-face {
  font-family: "apple";
  src: url("../fonts/iconfont.svg") format("svg");
}

.icond {
  font-family: "apple";
  font-style: normal;
}

.row::after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.row {
  position: relative;
}

.row .col {
  float: left;
}

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%;
  }
  .col.l2 {
    width: 16.66667%;
  }
  .col.l3 {
    width: 25%;
  }
  .col.l4 {
    width: 33.33333%;
  }
  .col.l5 {
    width: 41.66667%;
  }
  .col.l6 {
    width: 50%;
  }
  .col.l7 {
    width: 58.33333%;
  }
  .col.l8 {
    width: 66.66667%;
  }
  .col.l9 {
    width: 75%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66667%;
  }
  .col.l12 {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .col.m1 {
    width: 8.33333%;
  }
  .col.m2 {
    width: 16.66667%;
  }
  .col.m3 {
    width: 25%;
  }
  .col.m4 {
    width: 33.33333%;
  }
  .col.m5 {
    width: 41.66667%;
  }
  .col.m6 {
    width: 50%;
  }
  .col.m7 {
    width: 58.33333%;
  }
  .col.m8 {
    width: 66.66667%;
  }
  .col.m9 {
    width: 75%;
  }
  .col.m10 {
    width: 83.33333%;
  }
  .col.m11 {
    width: 91.66667%;
  }
  .col.m12 {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .col.s1 {
    width: 8.33333%;
  }
  .col.s2 {
    width: 16.66667%;
  }
  .col.s3 {
    width: 25%;
  }
  .col.s4 {
    width: 33.33333%;
  }
  .col.s5 {
    width: 41.66667%;
  }
  .col.s6 {
    width: 50%;
  }
  .col.s7 {
    width: 58.33333%;
  }
  .col.s8 {
    width: 66.66667%;
  }
  .col.s9 {
    width: 75%;
  }
  .col.s10 {
    width: 83.33333%;
  }
  .col.s11 {
    width: 91.66667%;
  }
  .col.s12 {
    width: 100%;
  }
}

body {
  background: #F2F2F2;
}

.changlian {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 343243243;
  display: none;
}

.show {
  opacity: 1;
  display: block;
}

@media screen and (max-width: 690px) {
  .show {
    display: none;
    opacity: 0;
  }
}

.zuo-you {
  width: 15px;
  height: 20px;
  opacity: 0;
  transition: opacity .8s ease;
  z-index: 111;
  position: absolute;
  top: 10px;
  right: 13px;
}

.zuo-you .zuo {
  width: 1px;
  height: 18px;
  background: #ffffff;
  display: inline-block;
  transition: transform .8s ease;
  transform-origin: bottom;
}

.zuo-you .zuo1 {
  transform: rotate3d(0, 0, 1, 45deg);
}

.zuo-you .you {
  width: 1px;
  height: 18px;
  background: #ffffff;
  display: inline-block;
  margin-left: 8px;
  transition: transform .8s ease;
  transform-origin: bottom;
}

.zuo-you .yuo1 {
  transform: rotate3d(0, 0, 1, -45deg);
}

.quxiao {
  opacity: 1;
}

.header {
  background: #000;
  height: 44px;
  width: 100%;
  z-index: 12312123424;
  position: relative;
}

.header .header-inner {
  max-width: 1024px;
  height: 44px;
  margin: 0  auto;
  box-sizing: border-box;
  z-index: 324234233;
}

.header .header-inner .nav {
  text-align: justify;
  height: 44px;
}

.header .header-inner .nav .logo {
  background: url(../img/logo.svg) no-repeat center center;
  width: 22px;
}

.header .header-inner .nav .mac {
  background: url(../img/mac.svg) no-repeat center center;
  width: 31px;
}

.header .header-inner .nav .ipad {
  background: url(../img/ipad.svg) no-repeat center center;
  width: 30px;
}

.header .header-inner .nav .iphone {
  background: url(../img/iphone.svg) no-repeat center center;
  width: 48px;
}

.header .header-inner .nav .watch {
  background: url(../img/watch.svg) no-repeat center center;
  width: 48px;
}

.header .header-inner .nav .tv {
  background: url(../img/tv.svg) no-repeat center center;
  width: 20px;
}

.header .header-inner .nav .music {
  background: url(../img/music.svg) no-repeat center center;
  width: 20px;
}

.header .header-inner .nav .support {
  background: url(../img/support.svg) no-repeat center center;
  width: 57px;
}

.header .header-inner .nav .shousuo {
  background: url(../img/shousuo.svg) no-repeat center center;
  width: 20px;
}

.header .header-inner .nav .shu {
  background: url(../img/shu.svg) no-repeat center center;
  width: 18px;
}

.header .header-inner .nav::after {
  content: "";
  width: 100%;
  height: 0;
  line-height: 0;
  display: inline-block;
  overflow: hidden;
}

.header .header-inner .nav li {
  padding: 0 10px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  transition: all .6s  ease;
  z-index: 13223213;
}

.header .header-inner .nav li:hover {
  opacity: 0.6;
}

.header .header-inner .nav li span {
  font-size: 0;
  height: 0;
  line-height: 0;
}

.header .header-inner .nav li a {
  display: block;
  line-height: 44px;
  height: 44px;
}

.header .header-inner .nav-xiao {
  display: none;
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.header .header-inner .nav-xiao a {
  display: block;
  height: 48px;
  line-height: 48px;
}

.header .header-inner .nav-xiao .xian {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  transition: all .6s ease;
  z-index: 432434453453453;
}

.header .header-inner .nav-xiao .xian:hover {
  opacity: 0.6;
}

.header .header-inner .nav-xiao .xian .shang {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: all .5s ease;
  transition-origin: center center;
  z-index: 42342334234242;
}

.header .header-inner .nav-xiao .xian .xiang {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotateZ(-45deg);
}

.header .header-inner .nav-xiao .xian .xia {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  width: 17px;
  height: 1px;
  background: #fff;
  transition: all .5s ease;
  transition-origin: center center;
}

.header .header-inner .nav-xiao .xian .jiao {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotateZ(45deg);
}

.header .header-inner .nav-xiao .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/logo.svg) no-repeat center center;
  width: 22px;
  transition: all .6s ease;
  z-index: 43242342342423;
}

.header .header-inner .nav-xiao .logo:hover {
  opacity: 0.6;
}

.header .header-inner .nav-xiao .shu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  background: url(../img/shu.svg) no-repeat center center;
  width: 18px;
  transition: all .6s ease;
  z-index: 32342323234232;
}

.header .header-inner .nav-xiao .shu:hover {
  opacity: 0.6;
}

.header .header-inner .nav-xiao .gong {
  transform: translateX(300px);
  z-index: 32423424242332;
}

.header .header-inner .ssk {
  width: 682px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 1s ease;
  transform: translateX(80px);
  transition-delay: .3s;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header .header-inner .ssk {
    display: none;
  }
}

.header .header-inner .ssk .soushu {
  width: 44px;
  height: 44px;
  background: url(../img/shousuo.svg) no-repeat center center;
  float: left;
  transition: all .6s ease;
}

.header .header-inner .ssk .soushu:hover {
  opacity: 0.6;
}

.header .header-inner .ssk input {
  width: 620px;
  height: 22px;
  margin-top: 10px;
  list-style: none;
  background: none;
  border: none;
  font-size: 15px;
  outline: medium;
  color: #fff;
}

.header .header-inner .huilai {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header {
    height: 48px;
  }
  .header .header-inner {
    height: 48px;
  }
  .header .header-inner .nav {
    display: none;
  }
  .header .header-inner .nav-xiao {
    display: block;
  }
}

.xiaoshi {
  transform: scale(0);
}

.text {
  width: 682px;
  height: 230px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 44px;
  padding: 24px 40px;
  box-sizing: border-box;
  transition: all 1s ease;
  transition-delay: .3s;
  transform: translateX(80px);
  background: #fff;
  z-index: 2324343453;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .text {
    display: none;
  }
}

.text h3 {
  display: block;
  font-size: 12px;
  color: #999;
  padding: 2px 0;
  opacity: 0;
  animation: pao .8s ease forwards .8s;
}

.text p {
  display: block;
  padding: 8px 15px;
}

.text p a {
  display: block;
  color: #999;
}

.text p a:hover {
  color: #0188CC;
}

.text p:hover {
  background: #F2F2F2;
}

.text p:nth-child(1) {
  opacity: 0;
  animation: pao .8s ease forwards 1s;
}

.text p:nth-child(2) {
  opacity: 0;
  animation: pao .8s ease forwards 1.2s;
}

.text p:nth-child(3) {
  opacity: 0;
  animation: pao .8s ease forwards 1.4s;
}

.text p:nth-child(4) {
  opacity: 0;
  animation: pao .8s ease forwards 1.6s;
}

.text p:nth-child(5) {
  opacity: 0;
  animation: pao .8s ease forwards 1.8s;
}

.text p:nth-child(6) {
  opacity: 0;
  animation: pao .8s ease forwards 2s;
}

.hui {
  transform: translateX(0);
  opacity: 1;
}

@keyframes pao {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.chedao {
  width: 100%;
  background: #000000;
  overflow: hidden;
  padding: 0 48px;
  box-sizing: border-box;
  transition: all 2s ease;
  transform: translateY(-1300px);
  display: none;
  height: 0;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .chedao {
    display: block;
    height: 0;
    opacity: 1;
  }
}

.chedao .chedao-nav {
  margin-top: 10px;
}

.chedao .chedao-nav li {
  display: block;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #333;
  line-height: 48px;
  font-size: 18px;
}

.chedao .chedao-nav li a {
  display: block;
  color: #fff;
  padding: 0;
  transition: all .6s ease;
  font-family: "cedaoziti";
  font-size: 20px;
  font-weight: normal;
}

.chedao .chedao-nav li a:hover {
  opacity: 0.6;
}

.chedao .chedao-nav li .zuihou {
  border-bottom: 2px solid #C0C0C0;
  background: url(../img/shousuo.svg) no-repeat;
  padding-left: 30px;
  color: #ffffff;
}

.chedao .chedao-nav li:nth-child(1) {
  opacity: 0;
  animation: diao .8s ease forwards 1s;
}

.chedao .chedao-nav li:nth-child(2) {
  opacity: 0;
  animation: diao .8s ease forwards 1.2s;
}

.chedao .chedao-nav li:nth-child(3) {
  opacity: 0;
  animation: diao .8s ease forwards 1.4s;
}

.chedao .chedao-nav li:nth-child(4) {
  opacity: 0;
  animation: diao .8s ease forwards 1.6s;
}

.chedao .chedao-nav li:nth-child(5) {
  opacity: 0;
  animation: diao .8s ease forwards 1.8s;
}

.chedao .chedao-nav li:nth-child(6) {
  opacity: 0;
  animation: diao .8s ease forwards 2s;
}

.chedao .chedao-nav li:nth-child(7) {
  opacity: 0;
  animation: diao .8s ease forwards 2.2s;
}

.chedao .chedao-nav li:nth-child(8) {
  opacity: 0;
  animation: diao .8s ease forwards 2.4s;
}

@keyframes diao {
  0% {
    transform: translate(-300px -2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.diaoxia {
  width: 100%;
  height: 1000px;
  transform: translateY(0);
}

.hei {
  background: #000;
}

.dady {
  overflow: hidden;
}

.banner-box {
  min-height: 400px;
  height: calc(100vh - 130px);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .banner-box {
    max-height: 600px;
  }
}

.banner-box .banner-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-box .banner-img .tu {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  transition: transform .8s ease;
}

.banner-box .banner-img .tu .banner-iphone {
  width: 95px;
  height: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  background: url("../img/logo_iphone_large.png") no-repeat;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-iphone {
    width: 72px;
    height: 18px;
    background: url("../img/logo_iphone_small.png") no-repeat;
  }
}

.banner-box .banner-img .tu .banner-biaoti {
  height: 42px;
  width: 100%;
  color: #ffffff;
  line-height: 1;
  font-size: 42px;
  font-family: "cedaoziti";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 90px;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-biaoti {
    font-size: 32px;
    height: 32px;
  }
}

.banner-box .banner-img .tu .banner-watch {
  width: 148px;
  height: 56px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  background: url("../img/logo_watch_large.png") no-repeat;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-watch {
    width: 111px;
    height: 43px;
    background: url("../img/logo_watch_small.png") no-repeat;
  }
}

.banner-box .banner-img .tu .banner-biaoti2 {
  height: 42px;
  width: 100%;
  color: #333;
  line-height: 1;
  font-size: 42px;
  font-family: "cedaoziti";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 80px;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-biaoti2 {
    font-size: 32px;
    height: 32px;
  }
}

.banner-box .banner-img .tu .banner-airpod {
  width: 108px;
  height: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  background: url("../img/logo_airpods_large.png") no-repeat;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-airpod {
    width: 85px;
    height: 18px;
    background: url("../img/logo_airpods_small.png") no-repeat;
  }
}

.banner-box .banner-img .tu .banner-biaoti3 {
  height: 42px;
  width: 100%;
  color: #333;
  line-height: 1;
  font-size: 42px;
  font-family: "dibuziti";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 90px;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-biaoti3 {
    font-size: 32px;
    height: 32px;
  }
}

.banner-box .banner-img .tu .banner-event {
  width: 283px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  background: url("../img/logo_event_large.png") no-repeat;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-event {
    width: 216px;
    height: 23px;
    background: url("../img/logo_event_small.png") no-repeat;
  }
}

.banner-box .banner-img .tu .banner-biaoti4 {
  height: 42px;
  width: 100%;
  color: #fff;
  line-height: 1;
  font-size: 42px;
  font-family: "cedaoziti";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 90px;
}

@media screen and (max-width: 650px) {
  .banner-box .banner-img .tu .banner-biaoti4 {
    font-size: 32px;
    height: 32px;
  }
}

.banner-box .banner-img .tu .bofang {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 90px;
  height: 90px;
  top: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../img/play_button_large.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: background .5s ease;
}

.banner-box .banner-img .tu .bofang:hover {
  background: rgba(29, 29, 29, 0.8);
  background-image: url("../img/play_button_large.png");
  background-repeat: no-repeat;
  background-position: center;
}

.banner-box .banner-img .active {
  display: block;
  transform: translate3d(0, 0, 0);
}

.banner-box .banner-img .right {
  display: block;
  z-index: 2;
  transform: translate3d(100%, 0, 0);
}

.banner-box .banner-img .leave {
  display: block;
  transform: translate3d(-300px, 0, 0);
  z-index: -1;
}

.banner-box .banner-img .enter {
  display: block;
  transform: translate3d(-300px, 0, 0);
  z-index: 1;
}

.banner-box .iphone {
  background: url("../img/iphone_xlarge.jpg") #000;
  background-position: bottom;
  background-size: contain;
}

@media screen and (max-width: 960px) {
  .banner-box .iphone {
    background: url("../img/iphone_square_large.jpg") #000000;
    background-position: bottom center;
    background-size: contain;
  }
}

@media screen and (max-width: 650px) {
  .banner-box .iphone {
    background: url("../img/iphone_portrait_small.jpg") #000000;
    background-position: bottom right;
    background-size: cover;
  }
}

.banner-box .watch {
  background: url("../img/watch_large.jpg") #f2f2f2;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 960px) {
  .banner-box .watch {
    background: url("../img/watch_medium.jpg") #f2f2f2;
    background-position: center;
    background-size: contain;
  }
}

@media screen and (max-width: 650px) {
  .banner-box .watch {
    background: url("../img/watch_portrait_small.jpg") #f2f2f2;
    background-position: center;
    background-size: contain;
  }
}

.banner-box .airpod {
  background: url("../img/airpods_large.jpg") #fff;
  background-position: bottom;
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .banner-box .airpod {
    background: url("../img/airpods_large.jpg") #fff;
    background-position: bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 650px) {
  .banner-box .airpod {
    background: url("../img/airpods_portrait_small.jpg") #fff;
    background-position: center;
    background-size: contain;
  }
}

.banner-box .event {
  background: url("../img/event_medium.jpg") #000;
  background-position: bottom;
  background-size: contain;
}

@media screen and (max-width: 960px) {
  .banner-box .event {
    background: url("../img/event_portrait_small.jpg") #000;
    background-position: bottom;
    background-size: contain;
  }
}

@media screen and (max-width: 650px) {
  .banner-box .event {
    background: url("../img/event_portrait_small.jpg") #000;
    background-position: bottom;
    background-size: contain;
  }
}

.banner-box .btn {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.banner-box .btn .left-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  font-size: 40px;
  color: #fff;
  float: left;
  z-index: 200;
  line-height: 50px;
}

.banner-box .btn .right-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  font-size: 40px;
  color: #fff;
  float: right;
  z-index: 200;
  line-height: 50px;
}

.banner-box .banner-dot {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 20px;
  bottom: 30px;
  text-align: center;
}

.banner-box .banner-dot-inner {
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.banner-box .banner-dot-inner::after {
  content: "";
  height: 0;
  clear: both;
}

.banner-box .banner-dot-inner .dot {
  background: #DCDCDC;
  padding: 2px 10px;
  width: 70px;
  height: 2px;
  background-clip: content-box;
  float: left;
  margin: 0 auto;
  z-index: 200;
}

.banner-box .banner-dot-inner .dot.active {
  background: #808080;
  background-clip: content-box;
}

.row {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 960px) {
  .row {
    height: 400px;
  }
}

@media screen and (max-width: 650px) {
  .row {
    height: 800px;
  }
}

.row .col {
  height: 200px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.row .col a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.row .col.aa {
  height: 200px;
  background: url(../img/apple_tv_medium.jpg) no-repeat center center;
}

.row .col.bb {
  height: 200px;
  background: url(../img/public_betas_medium.jpg) no-repeat center center;
}

.row .col.cc {
  height: 200px;
  background: url(../img/swift_playground_medium.jpg) no-repeat center center;
}

.row .col.dd {
  height: 200px;
  background: url(../img/bts_iphone_medium.jpg) no-repeat center center;
}

.didao {
  max-width: 1024px;
  height: 296px;
  margin: 0 auto;
}

.didao .didao-inner {
  width: 100%;
  height: 100%;
  padding: 0 22px;
  padding-top: 22px;
  box-sizing: border-box;
}

.didao .didao-inner .xinxi {
  width: 20%;
  height: 100%;
  float: left;
}

.didao .didao-inner .xinxi ul {
  margin-top: 10px;
}

.didao .didao-inner .xinxi ul li:first-child {
  font-size: 15px;
  color: #000;
}

.didao .didao-inner .xinxi ul li:first-child:hover {
  text-decoration: none;
}

.didao .didao-inner .xinxi ul li {
  font-size: 10px;
  color: #666;
  cursor: pointer;
  height: 19px;
  line-height: 21px;
}

.didao .didao-inner .xinxi ul li:hover {
  text-decoration: underline;
}

.cedao {
  padding: 0  20px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: none;
}

.cedao ul {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #E3E3E3;
}

.cedao ul span {
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 37px;
  cursor: pointer;
  position: relative;
  font-family: "dibuziti";
  font-weight: bold;
}

.cedao ul .shi {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
}

.cedao ul .shi .heng {
  width: 8px;
  height: 1px;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all .6s ease;
}

.cedao ul .shi .shu {
  width: 8px;
  height: 1px;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotateZ(90deg);
  transition: all .6s ease;
}

.cedao ul .shi.cha .heng {
  transform: rotateZ(-45deg);
}

.cedao ul .shi.cha .shu {
  transform: rotateZ(45deg);
}

.cedao ul li {
  width: 100%;
  height: 37px;
  display: none;
  font-size: 12px;
  color: #666;
  line-height: 21px;
  cursor: pointer;
}

.cedao ul li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 690px) {
  .didao {
    display: none;
  }
  .cedao {
    display: block;
  }
}

.bao {
  max-width: 1020px;
  height: auto;
  margin: auto;
  padding: 0 20px;
}

.banquan {
  max-width: 980px;
  margin: auto;
}

.banquan p {
  display: block;
  color: #999;
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid #E3E3E3;
}

.banquan p a {
  color: #0070c9;
}

.banquan .gq {
  width: 100px;
  height: 24px;
  display: none;
  cursor: pointer;
}

.banquan .gq .qii {
  width: 24px;
  height: 24px;
  background: url(../img/16.png) no-repeat center center;
  float: left;
}

.wei {
  max-width: 980px;
  height: 50px;
  margin: auto;
}

.wei div {
  color: #999;
  font-size: 12px;
  line-height: 30px;
  padding-right: 20px;
  float: left;
}

.wei div a {
  margin-right: 10px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 30px;
  color: #666;
  border-right: 1px solid #d6d6d6;
}

.wei .guoqi {
  width: 100px;
  height: 24px;
  float: right;
  cursor: pointer;
}

.wei .guoqi .qi {
  width: 8px;
  height: 24px;
  background: url(../img/16.png) no-repeat center center;
}

@media screen and (max-width: 690px) {
  .guoqi {
    display: none;
  }
  .banquan p {
    border-bottom: 1px solid #F2F2F2;
  }
  .banquan .gq {
    display: block;
  }
}
